.root
{
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #F2FBEF;
}

#menumaker{
    -fx-background-color: #64FE2E;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
    -fx-font-size: 20px;
}

#menumaker:hover{
    -fx-background-color: #3ADF00;
}

#fridge{
    -fx-background-color: #64FE2E;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
    -fx-font-size: 20px;
}

#fridge:hover{
    -fx-background-color: #3ADF00;
}

#meals{
    -fx-background-color: #64FE2E;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
    -fx-font-size: 20px;
}

#meals:hover{
    -fx-background-color: #3ADF00;
}

#user:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}