.root
{
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #DBDCDD   ;
}

#menumaker{
    -fx-background-color: #A7ADBA;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
    -fx-font-size: 20px;
}

#menumaker:hover{
    -fx-background-color: #969BA7;
}

#fridge{
    -fx-background-color: #A7ADBA;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
    -fx-font-size: 20px;
}

#fridge:hover{
    -fx-background-color: #969BA7;
}

#meals{
    -fx-background-color: #A7ADBA;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
    -fx-font-size: 20px;
}

#meals:hover{
    -fx-background-color: #969BA7;
}

#user:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 5,0,0,1 );
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}